.card {
  border: 1px solid rgb(120, 113, 113);
  color: white;
}
.card__card_title {
  padding: 1rem;
  background-color: #011a37;
}

/* .card__card_content {
  padding: 1rem;
  background-color: #1f1f1f;
} */
